@import url('https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap');
/* h1 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    font-family: "Poetsen One", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 40px;
    margin-bottom: 20px;
}

h2{
    margin-bottom: 10px;
}

h3{
    font-size: 22px;
}

form {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

section {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="url"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

input[type="checkbox"] {
    margin-right: 10px;
    cursor: pointer;
    -ms-transform: scale(2); 
    -moz-transform: scale(2); 
    -webkit-transform: scale(2); 
    -o-transform: scale(2); 
    transform: scale(2);
    padding: 10px;
}

button {
    background: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

#output {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#readmeContent {
    white-space: pre-wrap;
    word-wrap: break-word;
    background: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

#skill{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    cursor: pointer;
}

#correct{
    margin-left: 10px;
}

#collection{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 40px;
    margin-top: 10px;
    justify-content: center;
    width: 100%;
}

#collection label{
    width: 250px;
}

textarea{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: vertical;
    min-height: 100px;
}




